---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="DIOHABARA's Compensation" description="Compensation history">
  <article>
    <h1>DIOHABARA's Compensation</h1>
    <div class="article-content">
      <table>
        <thead>
          <tr>
            <th>Duration</th>
            <th>Total Compensation</th>
            <th>Extra Compensation</th>
            <th>Employer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2024/06~</td>
            <td>짜3,408,746</td>
            <td>짜0</td>
            <td>Government Pension Investment Fund (GPIF)</td>
          </tr>
          <tr>
            <td>2025/01~</td>
            <td>짜?</td>
            <td>짜?</td>
            <td>GPIF, Sony Interactive Entertainment (SIE)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</Layout>
