{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": {{ .Site.BaseURL | jsonify }},
  "name": {{ .Site.Title | jsonify }},
  "description": {{ .Site.Params.description | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author | jsonify }}
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ .Site.BaseURL }}search/?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  }
}
</script>
{{- else if .IsPage -}}
{{- $author := .Site.Params.author | default "Unknown" -}}
{{- $image := "" -}}
{{- if .Params.image -}}
  {{- $image = .Params.image | absURL -}}
{{- else if .Site.Params.images -}}
  {{- $image = (index .Site.Params.images 0) | absURL -}}
{{- end -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  "name": {{ .Title | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "description": {{ with .Description }}{{ . | jsonify }}{{ else }}{{ .Summary | plainify | truncate 160 | jsonify }}{{ end }},
  "keywords": {{ with .Params.tags }}{{ delimit . ", " | jsonify }}{{ else }}""{{ end }},
  "wordCount": {{ .WordCount }},
  "datePublished": {{ .Date.Format $iso8601 | jsonify }},
  "dateModified": {{ .Lastmod.Format $iso8601 | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ $author | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }}
  },
  "publisher": {
    "@type": "Person",
    "name": {{ $author | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ (index .Site.Params.images 0) | absURL | jsonify }}
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  {{- if $image }}
  "image": {
    "@type": "ImageObject",
    "url": {{ $image | jsonify }}
  },
  {{- end }}
  "inLanguage": {{ .Site.LanguageCode | default "ja" | jsonify }}
}
</script>

{{- /* Breadcrumb structured data for non-home pages */ -}}
{{- if not .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": {{ .Site.BaseURL | jsonify }}
    }
    {{- if .Parent -}}
    {{- if not .Parent.IsHome -}}
    ,{
      "@type": "ListItem",
      "position": 2,
      "name": {{ .Parent.Title | jsonify }},
      "item": {{ .Parent.Permalink | jsonify }}
    }
    ,{
      "@type": "ListItem",
      "position": 3,
      "name": {{ .Title | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
    {{- else -}}
    ,{
      "@type": "ListItem",
      "position": 2,
      "name": {{ .Title | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
    {{- end -}}
    {{- end -}}
  ]
}
</script>
{{- end -}}
{{- end -}}

{{- /* Organization schema (appears on all pages) */ -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ .Site.Params.author | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "sameAs": [
    {{ with .Site.Params.twitterUsername }}"https://twitter.com/{{ . }}"{{ end }}
    {{ with .Site.Params.socialIcons }}
      {{- range $index, $icon := . -}}
        {{- if ne $index 0 -}},{{- end -}}
        {{ $icon.url | jsonify }}
      {{- end -}}
    {{ end }}
  ],
  "description": {{ .Site.Params.description | jsonify }}
}
</script>