{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- $homeURL := "/" | absURL -}}
{{- $author := .Site.Params.author | default "Unknown" -}}
{{- $siteDescription := .Site.Params.description | default "" -}}

{{- if .IsHome -}}
  {{- $websiteSchema := dict
      "@context" "https://schema.org"
      "@type" "WebSite"
      "url" $homeURL
      "name" .Site.Title
      "description" $siteDescription
      "author" (dict "@type" "Person" "name" $author)
      "potentialAction" (dict
        "@type" "SearchAction"
        "target" (dict
          "@type" "EntryPoint"
          "urlTemplate" (printf "%ssearch/?q={search_term_string}" $homeURL)
        )
        "query-input" "required name=search_term_string"
      )
    -}}
<script type="application/ld+json">
{{ $websiteSchema | jsonify | safeJS }}
</script>
{{- else if .IsPage -}}
  {{- $image := "" -}}
  {{- if .Params.image -}}
    {{- $image = .Params.image | absURL -}}
  {{- else if .Site.Params.images -}}
    {{- $image = (index .Site.Params.images 0) | absURL -}}
  {{- end -}}
  {{- $description := cond (gt (len .Description) 0) (.Description | plainify) (.Summary | plainify | truncate 160) -}}
  {{- $keywords := "" -}}
  {{- with .Params.tags -}}
    {{- $keywords = delimit . ", " -}}
  {{- end -}}
  {{- $publisherLogo := "" -}}
  {{- with .Site.Params.images -}}
    {{- $publisherLogo = (index . 0) | absURL -}}
  {{- end -}}
  {{- $blogPosting := dict
      "@context" "https://schema.org"
      "@type" "BlogPosting"
      "headline" .Title
      "name" .Title
      "url" .Permalink
      "description" $description
      "keywords" $keywords
      "wordCount" .WordCount
      "datePublished" (.Date.Format $iso8601)
      "dateModified" (.Lastmod.Format $iso8601)
      "author" (dict "@type" "Person" "name" $author "url" $homeURL)
      "publisher" (dict
        "@type" "Person"
        "name" $author
        "logo" (dict "@type" "ImageObject" "url" $publisherLogo)
      )
      "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
      "inLanguage" (.Site.LanguageCode | default "ja")
    -}}
  {{- if $image -}}
    {{- $blogPosting = merge $blogPosting (dict "image" (dict "@type" "ImageObject" "url" $image)) -}}
  {{- end -}}
<script type="application/ld+json">
{{ $blogPosting | jsonify | safeJS }}
</script>

{{- end -}}

{{- if not .IsHome -}}
  {{- /* Breadcrumb structured data for non-home pages */ -}}
  {{- $breadcrumbItems := slice (dict "@type" "ListItem" "position" 1 "name" "Home" "item" $homeURL) -}}
  {{- if .Parent -}}
    {{- if not .Parent.IsHome -}}
      {{- $breadcrumbItems = $breadcrumbItems | append (dict "@type" "ListItem" "position" 2 "name" .Parent.Title "item" .Parent.Permalink) -}}
      {{- $breadcrumbItems = $breadcrumbItems | append (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink) -}}
    {{- else -}}
      {{- $breadcrumbItems = $breadcrumbItems | append (dict "@type" "ListItem" "position" 2 "name" .Title "item" .Permalink) -}}
    {{- end -}}
  {{- else -}}
    {{- $breadcrumbItems = $breadcrumbItems | append (dict "@type" "ListItem" "position" 2 "name" .Title "item" .Permalink) -}}
  {{- end -}}
  {{- $breadcrumb := dict
      "@context" "https://schema.org"
      "@type" "BreadcrumbList"
      "itemListElement" $breadcrumbItems
    -}}
<script type="application/ld+json">
{{ $breadcrumb | jsonify | safeJS }}
</script>
{{- end -}}

{{- /* Person schema (appears on all pages) */ -}}
{{- $sameAs := slice -}}
{{- with .Site.Params.twitterUsername -}}
  {{- $sameAs = $sameAs | append (printf "https://twitter.com/%s" .) -}}
{{- end -}}
{{- with .Site.Params.socialIcons -}}
  {{- range . -}}
    {{- if .url -}}
      {{- $sameAs = $sameAs | append .url -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $person := dict
    "@context" "https://schema.org"
    "@type" "Person"
    "name" $author
    "url" $homeURL
    "description" $siteDescription
  -}}
{{- if gt (len $sameAs) 0 -}}
  {{- $person = merge $person (dict "sameAs" $sameAs) -}}
{{- end -}}
<script type="application/ld+json">
{{ $person | jsonify | safeJS }}
</script>
